html, body {
    max-width: 100%;
    overflow-x: hidden;
}


body { 
    background: #fff url('../img/drone/2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    color-scheme: dark;
    background-color: rgb(17, 17, 17);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-image: url('../img/drone/5.jpg');
    min-height:100vh;
}
.imgIn {
    animation: scaleIn 2s ease 0s 1 normal forwards;
}
.fixerfix2 {
    height: 110vh;
}
@keyframes scaleIn {
	0% {
		transform: scale(2);
	}

	100% {
		transform: scale(1);
	}
}
.mg {
    height: 100vh;
}
.mgn {
    margin: 0px 60px;
}
.bgz2 {
    height: 200vh !important;
}
.bgz150 {
    height: 150vh !important;
}
.bgz {
    height: 100vh;
    max-height: 100vh;
}
.bgz250 {
    height: 200vh;
}

.vw100 {
    width: 100vw !important;
}
.imgbg {
    overflow: hidden;
    position: relative;
}
.imgbg {
        background-color: rgba(0, 0, 0, 0.4);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
}
.darkbg {
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);

}
.st2 a {
    position: sticky !important;
    top: 0;
    margin: 100%;
}
.st2 {
    z-index: 10 !important;
}

.img-fixer {
    object-fit: cover;
    width: 150px;
    height: 250px;
}
.mg {
    backdrop-filter: blur(10px);
}
.img-fixer2 {
    object-fit: cover;
    width: 480px;
    height: 250px;
}
.img34 {
    object-fit: cover;
    width: 200px;
    height: 200px;
}
@media only screen and (max-device-width: 480px) {
    .bg150 {
        height: 330vh !important;
    }
    .bgz2 {
        margin-top: 50px;
        padding-top: 50px;
        height: 200vh !important;
        backdrop-filter: brightness(50%);
    }
    .fixerfix {
        height: 450vh;
    }
    .fixerfix2 {
        height: 320vh;
    }
    .img-fixer2 {
        object-fit: cover;
        width: 280px;
        height: 150px;
    }
    body::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-image: url('../img/drone/5.jpg');
        z-index: -1;
    }
}