html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    color-scheme: dark;
    background-color: rgb(17, 17, 17);
.imgIn {
    animation: scaleIn 2s ease 0s 1 normal forwards;
}
@keyframes scaleIn {
	0% {
		transform: scale(2);
	}

	100% {
		transform: scale(1);
	}
}
.mg {
    height: 100vh;
}
.mgn {
    margin: 0px 60px;
}
.bgz2 {
    height: 200vh !important;
}
.bgz150 {
    height: 150vh !important;
}
.bgz {
    height: 100vh;
    max-height: 100vh;
}
.bgz250 {
    height: 300vh;
}

.vw100 {
    width: 100vw !important;
}
.imgbg {
    overflow: hidden;
    position: relative;
}
.imgbg {
        background-image:         linear-gradient(
          rgba(0, 0, 0, 0.4), 
          rgba(0, 0, 0, 0.4)
        ), url('../img/drone/2.jpg');
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
}
.darkbg {
      background-image:         linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url('../img/drone/2.jpg');
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
}
.st2 a {
    position: sticky !important;
    top: 0;
    margin: 100%;
}
.st2 {
    z-index: 10 !important;
}

.img-fixer {
    object-fit: cover;
    width: 150px;
    height: 250px;
}

.img-fixer2 {
    object-fit: cover;
    width: 480px;
    height: 250px;
}
@media (max-width: 900px) {
    .bgz250 {
        height: 430vh; !important;
    }
    .bgz2 {
        height: 200vh !important;
        backdrop-filter: brightness(50%);
    }
    .ddd {
        margin: 1rem 0 !important;
    }
    .img-fixer2 {
        object-fit: cover;
        width: 280px;
        height: 150px;
    }
}
